/.idea/.gitignore
/build/reports/tests/test/css/base-style.css
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.idea/checkstyle-idea.xml
/.gradle/7.4/checksums/checksums.lock
/.idea/compiler.xml
/.idea/dbnavigator.xml
/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.4/executionHistory/executionHistory.bin
/.gradle/7.4/executionHistory/executionHistory.lock
/build/reports/tests/test/packages/extension.html
/build/reports/tests/test/classes/extension.LoggerTest.html
/.gradle/file-system.probe
/.gradle/7.4/fileHashes/fileHashes.bin
/.gradle/7.4/fileHashes/fileHashes.lock
/.gradle/7.4/dependencies-accessors/gc.properties
/.gradle/7.4/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/build/reports/tests/test/index.html
/.idea/jarRepositories.xml
/.idea/modules/junit_study.main.iml
/.gradle/7.4/fileChanges/last-build.bin
/build/classes/java/test/extension/LoggerAware.class
/build/classes/java/test/extension/LoggerTest.class
/build/classes/java/test/extension/LoggingExtension.class
/.idea/markdown.xml
/.gradle/7.4/checksums/md5-checksums.bin
/.idea/misc.xml
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/.gradle/buildOutputCleanup/outputFiles.bin
/build/tmp/compileTestJava/previous-compilation-data.bin
/build/reports/tests/test/js/report.js
/.gradle/7.4/fileHashes/resourceHashesCache.bin
/build/test-results/test/binary/results.bin
/.gradle/7.4/checksums/sha1-checksums.bin
/build/reports/tests/test/css/style.css
/build/test-results/test/TEST-extension.LoggerTest.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
